/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MEH LS(LC(LALT))
#define FUNCTION 1
#define RESET    2

/ {
	keymap0: keymap {
		compatible = "zmk,keymap";

		default {
// default Keymap
// ,----------------------------------------------------------------.
// |GEsc| 1|  2|  3|  4|  5|  6|  7|  8|  9|  0|  -|  =|Backsp |Del |
// |----------------------------------------------------------------|
// |Tab  |  Q|  W|  E|  R|  T|  Y|  U|  I|  O|  P|  [|  ]|  \  |Home|
// |----------------------------------------------------------------|
// |Ctrl     |A|  S|  D|  F|  G|  H|  J|  K|  L|  ;|  '|Return |PgUp|
// |----------------------------------------------------------------|
// |Shift   |  Z|  X|  C|  V|  B|  N|  M|  ,|  .|  /|Shift | Up|PgDn|
// |----------------------------------------------------------------|
// | Fn |Win |Alt |        Space          |Alt|Win| Fn |Lef|Dow|Rig |
// `----------------------------------------------------------------'
// 
			bindings = <
&gresc &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL &kp   BKSP &kp DEL
&kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp LBKT &kp RBKT  &kp BSLH   &kp HOME
&kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp SQT         &kp ENTER    &kp PGUP
&kp LSHIFT &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHIFT      &kp UP  &kp PGDN
&lt FUNCTION CAPS &kp LGUI &kp LALT    &kp SPC                        &kp RALT &kp RGUI &mt MEH K_APP   &kp LEFT &kp DOWN &kp RIGHT
>;
		};

		function {
// function Keymap
// ,----------------------------------------------------------------.
// |   | F1|F2 |F3 |F4 |F5 |F6 |F7 |F8 |F9 |F10|F11|F12|Del    |Ins |
// |----------------------------------------------------------------|
// |     |   |   |   |   |   |   |   |   |   |PrtScn|  |  |    |End |
// |----------------------------------------------------------------|
// |       |  |   |   |   |   | <-|Up | Dn| ->|   |   |        |    |
// |----------------------------------------------------------------|
// | CapsLk |   |   |   |   |Reset| |   |   |   |   |      |   |    |
// |----------------------------------------------------------------|
// |    |raise|    |                       |   |   |    |   |   |   |
// `----------------------------------------------------------------'
// 
			bindings = <
&kp GRAVE &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &trans  &kp INS
&kp LC(LALT) &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp PSCRN &trans &trans &trans &kp END
&trans &trans &trans &trans &trans &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans          &trans &trans
&trans           &trans &trans &trans &trans &trans   &kp HOME &kp PG_UP &kp PG_DN &kp END &trans &trans &trans &trans
&trans &mo RESET &trans                            &trans                   &trans &trans  &mo RESET &trans &trans &trans
>;
		};

		reset {
// reset Keymap
// ,----------------------------------------------------------------.
// |   |   |   |   |   |   |   |   |   |   |   |   |   |       |    |
// |----------------------------------------------------------------|
// |     |   |   |   |   |   |   |   |   |   |      |  |  |    |    |
// |----------------------------------------------------------------|
// |      |   |   |   |   |   | Hm|PgDn|PgUp|End| |   |        |    |
// |----------------------------------------------------------------|
// |        |   |   |   |   |     | |   |   |   |   |      |   |    |
// |----------------------------------------------------------------|
// |    |    |    |                       |   |   |    |   |   |    |
// `----------------------------------------------------------------'
// 
			bindings = <
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans          &trans &trans &trans &trans &bootloader &trans   &trans &trans &trans &trans       &trans &trans &trans
&trans &trans &trans                   &trans                            &trans &trans   &trans  &trans &trans &trans
>;
		};
	};
};
